@model MvcStokTakip.Models.Entity.tblkategori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
    @Html.HiddenFor(x => x.id, new { @class = "form-control" })

    <label>Kategori Adını Giriniz</label>
    @Html.TextBoxFor(x => x.ad, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Güncelle</button>

}
